body { 
  font-family: sans-serif; 
  text-align: justify; 
}

h2, h3, h4, h5, h6 { 
  font-size: 120%; 
  font-weight: normal; 
}

h1 {border: 5px solid black;}
h2 {border-left: 20px double red;}
h3 {border-top:10px dotted blue}
h3 {border-bottom:20px dotted blue}
h3 {border-right: 20px dotted purple;}
h3 {border-left: 10px dotted purple;}
h4 {border-top: 10px double green;}
h4 {border-bottom: 10px double blue ;}
h5 {border-left: 20px solid black}
h5 {border-bottom: 10px dotted black;}
h5  {border-top: 10px dashed red}
h5 {border-right: 20px solid black}
h6 {border-left: 20px solid black}
h6 {border-right: 20px solid black}
h6 {border-top: 10px dotted black;}
h6 {border-bottom: 10px dashed black}